{% extends 'canvas_users/base.html' %}

{% block content %}

    <script type="text/javascript">
      window.canvas_users = {
      csrftoken: '{{ csrf_token }}',
      session_id: '{{ session_id }}',
      sis_course_id: '{{ SIS_COURSE_ID|safe }}',
      canvas_course_id: '{{ CANVAS_COURSE_ID }}',
      canvas_account_id: '{{ CANVAS_ACCOUNT_ID }}',
      canvas_host: '{{ CANVAS_HOSTNAME }}',
      blti: {{ blti_json|safe }}
      };
    </script>

{% include "canvas_users/handlebars/add_users.html" %}
{% include "canvas_users/handlebars/validate_users.html" %}
{% include "canvas_users/handlebars/failure_modal.html" %}
{% include "canvas_users/handlebars/timed_out.html" %}

{% endblock content %}
