<!doctype html>
<html class="no-js">
<head>
	<meta charset="utf-8">
    <script type="text/javascript">
      window.canvas_users = {
      csrftoken: '{{ csrf_token }}',
      session_id: '{{ session_id }}',
      sis_course_id: '{{ SIS_COURSE_ID|safe }}',
      canvas_course_id: '{{ CANVAS_COURSE_ID }}',
      canvas_account_id: '{{ CANVAS_ACCOUNT_ID }}',
      canvas_host: '{{ CANVAS_HOSTNAME }}',
      blti: {{ blti_json|safe }}
      };
    </script>
</head>
<body>
    {% load staticfiles %}

    <script src="https://128.208.33.115:8808{% static "canvas_users/js/add_users.tmpl.js"  %}"></script>
    <script src="https://128.208.33.115:8808{% static "canvas_users/js/add_users_role.tmpl.js"  %}"></script>
    <script src="https://128.208.33.115:8808{% static "canvas_users/js/add_users_section.tmpl.js"  %}"></script>
    <script src="https://128.208.33.115:8808{% static "canvas_users/js/validate_users.tmpl.js"  %}"></script>
    <script src="https://128.208.33.115:8808{% static "canvas_users/js/failure_modal.tmpl.js"  %}"></script>
    <script src="https://128.208.33.115:8808{% static "canvas_users/js/ferpa.tmpl.js"  %}"></script>
    <script src="https://128.208.33.115:8808{% static "canvas_users/js/timed_out.tmpl.js"  %}"></script>

    <script src="https://128.208.33.115:8808{% static "canvas_users/js/main.js"  %}"></script>

</body>
</html>

