<div class="ReactModalPortal">
  <div class="ReactModal__Overlay ReactModal__Overlay--after-open ReactModal__Overlay--canvas" style="background-color: rgba(0, 0, 0, 0.498039);">
    <div style="position:static;top:0px;left:0px;right:auto;bottom:auto;border-radius:0px;border:none;padding:0px;" class="ReactModal__Content ReactModal__Content--after-open ReactModal__Content--canvas" tabindex="-1">
      <div class="ReactModal__Layout">
        <div class="ReactModal__Header">
          <div class="ReactModal__Header-Title">
            <h4>Add People</h4>
          </div>
          <div class="ReactModal__Header-Actions">
            <button class="Button Button--icon-action uw-add-people-close" type="button">
              <i class="icon-x">
              </i>
              <span class="screenreader-only">Close
              </span>
            </button>
          </div>
        </div>
        <div class="ReactModal__Body">
          <div class="content-box">
          <div class="uw-add-people-gather">
            <form>
                <div class="grid-row">
                  <div class="col-xs-12">
                    <label class="control-label" for="uw-users-to-add">Enter UW NetIDs or Gmail addresses, separated by a comma or space</label>
                  </div>
                </div>
                <div class="grid-row">
                  <div class="col-xs-12">
                    <textarea id="uw-users-to-add" class="ic-Form-control" placeholder="netid, netid, googleid@gmail.com" aria-label="Enter the email addresses of the users you would like to add, seperated by commas or spaces"></textarea>
                  </div>
                </div>
                <div class="grid-row">
                  <div class="col-xs-6 ic-Form-control">
                    <label class="control-label" for="uw-added-users-section">Select section</label>
                    <select id="uw-added-users-section" class="uw-add-people-loading" disabled>
                      <option value="">Loading&hellip;</option>
                    </select><span class="uw-add-people-working" style="display:none;"><i class="icon-refresh"></i></span>
                  </div>
                  <div class="col-xs-6 ic-Form-control">
                    <label class="control-label" for="uw-added-users-role">Select role</label>
                    <select id="uw-added-users-role" class="loading uw-add-people-loading" disabled>
                      <option value="">Loading&hellip;</option>
                    </select><span class="uw-add-people-working" style="display:none;"><i class="icon-refresh"></i></span>
                  </div>
                </div>
                <div class="grid-row">
                  <div class="col-xs-9 off-md-3">
                    <div class="ic-Form-control ic-Form-control--checkbox">
                      <input type="checkbox" id="notify-users">
                      <label class="ic-Label" for="notify-users">Notify users that they have been added</label>
                    </div>
                  </div>
                </div>
                <div class="grid-row">
                  <div class="col-xs-9 off-md-3">
                    <div class="ic-Form-control ic-Form-control--checkbox">
                      <input type="checkbox" id="section-only">
                      <label class="ic-Label" for="section-only">Can interact with users in their section only</label>
                    </div>
                  </div>
                </div>
            </form>
          </div>
          <div class="uw-add-people-confirm" style="display:none;"></div>
          <div class="uw-add-people-problem" style="display:none;"></div>
          <div class="uw-add-people-timedout" style="display:none;">
            <div class="content-box">
              <div class="grid-row delayed">
                <div class="col-sm-2 uw-add-user-timedout-icon"></div>
                <div class="col-sm-10">
                  <div>
                    <p>
                      We're adding your users, but Canvas is responding slowly.
                    </p><p>
                      Please check the People page in a few minutes to verify that your new users have been added.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="uw-add-people-ferpa" style="display:none;">
            <h4>FERPA Acknowledgement</h4>
            <p>
              The Family Educational Rights and Privacy Act (FERPA) of 1974 protects the privacy of students' education records. Generally, the University and its employees may not release or share a student's educational records, or information from a student's education records, unless it has the student's written consent to do so. Some exceptions to this general rule can be found at <a href="http://www.washington.edu/students/reg/ferpafac.html" target="_blank">FERPA for Faculty and Staff</a>. It is important that you understand when it is appropriate and allowable to release information from students' education records to third parties, such as faculty, staff, parents, and other students.
            </p>
            <div class="ic-Checkbox-group">
              <div class="ic-Form-control ic-Form-control--checkbox">
                <input type="checkbox" id="confirmed">
                <label class="ic-Label" for="confirmed">I understand</label>
              </div>
            </div>
          </div>
          </div>
        </div>
        <div class="ReactModal__Footer">
          <div class="ReactModal__Footer-Actions">
            <button type="button" id="uw-add-people-startover" class="Button uw-add-people-confirm uw-add-people-ferpa uw-add-people-problem" style="display:none;">Start Over</button>
            <button type="button" id="uw-add-people-validate" class="Button Button--primary uw-add-people-gather" disabled style="display:none;">Next</button><span class="uw-add-people-working" style="display:none;"><i class="icon-refresh"></i></span>
            <button type="button" id="uw-add-people-import" class="Button Button--primary uw-add-people-confirm" style="display:none;">Add Users</button>
            <button type="button" id="uw-add-people-ferpa-confirm" class="Button Button--primary uw-add-people-ferpa" disabled style="display:none;">Confirm</button>
            <button type="button" class="Button Button--primary uw-add-people-close uw-add-people-timedout uw-add-people-problem" data-dismiss="modal" style="display:none;">Done</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
