<div class="content-box">
  <div class="grid-row delayed">
    <div class="col-sm-2 uw-add-user-problem-icon"></div>
    <div class="col-sm-10">
      <div>
        <p class="bad-result">
          We're terribly sorry, but we were unable to add these users to this course.
        </p>
        <p>
          You can click <span class="start-over">Start Over to give it another try now, or </span>Done to try again later.
          <div class="error-msg">
            Reported Error: {{ error_message }}
          </div>
        </p>
      </div>
    </div>
  </div>
</div>
