{% load templatetag_handlebars %}

{% tplhandlebars "failure-tmpl" %}
<div id="{{modal_id}}" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Problem Adding People</h4>
      </div>
      <div class="modal-body">
        <p class="bad-result">
          We're terribly sorry, but it appears we're unable to add users at this time.
        </p>
        <p>
          Please click <span class="start-over">Start Over to give it another try now, or </span>Close to try again later.
          <div class="hidden">
            Reported Error: {{ error_message }}
          </div>
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary start-over">Start Over</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{% endtplhandlebars %}
