{% load templatetag_handlebars %}

{% tplhandlebars "ferpa-tmpl" %}
<div id="{{modal_id}}" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Add People</h4>
      </div>
      <div class="modal-body">
        <h3>FERPA Acknowledgement</h3>
        <div>
          The Family Educational Rights and Privacy Act (FERPA) of 1974 protects the privacy of students' education records. Generally, the University and its employees may not release or share a student's educational records, or information from a student's education records, unless it has the student's written consent to do so. Some exceptions to this general rule can be found at <a href="http://www.washington.edu/students/reg/ferpafac.html" target="_blank">FERPA for Faculty and Staff</a>. It is important that you understand when it is appropriate and allowable to release information from students' education records to third parties, such as faculty, staff, parents, and other students.
        </div>
        <div>
          <input type="checkbox"> I understand.
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default confirmation" disabled>Confirm</button>
      </div>
    </div>
  </div>
</div>
{% endtplhandlebars %}
