<div id="{{modal_id}}" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Add People</h4>
      </div>
      <div class="modal-body registration-requirements">
        <h4>Student Registration Requirements</h4>
        <p>
          When adding a student to your Canvas course, it is your responsibility to notify the student that they must register for the course in the Register.UW tool or via the Late Add form during the quarter to receive credit for the course.
        </p>
        <p>
          If you add a student to Canvas but they do not register for the course during the quarter, they will not be granted a past quarter late registration by the Office of the University Registrar.
        </p>
        <input type="checkbox" id="confirmed"> <label for="confirmed">I understand</label>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default confirmation" disabled>Confirm</button>
      </div>
    </div>
  </div>
</div>
