<div id="{{modal_id}}" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Add People</h4>
      </div>
      <div class="modal-body registration-requirements">
        <h4>Student Registration Requirements</h4>
        <p>
Adding a student manually to a Canvas course does not constitute official course registration. If you add a student to a Canvas course, but they do not register for the course before it concludes, their completion of the course will not be recorded on transcripts or other student records.
        </p>
        <p>
Please notify the student that they must officially register for the course in order to receive credit for any coursework they complete. For students who have missed the registration deadline, please direct them to the appropriate <a href="https://registrar.washington.edu/register/late-registration/" target="_blank">Late Registration process</a> for their program or campus.
        </p>
        <input type="checkbox" id="confirmed"> <label for="confirmed">I understand</label>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default confirmation" disabled>Confirm</button>
      </div>
    </div>
  </div>
</div>
