<div id="{{modal_id}}" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Add People</h4>
      </div>
      <div class="modal-body">
        <div class="row delayed">
          <div class="col-sm-2 text-right">
            <span class="fa-stack warning">
              <i class="fa fa-circle-thin fa-stack-2x"></i>
              <i class="fa fa-exclamation fa-stack-1x"></i>
            </span>
          </div>
          <div class="col-sm-10">
            <div>
              <p>
                We're adding your users, but Canvas is responding slowly.
              </p><p>
                Please check the People page in a few minutes to verify that your new users have been added.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Done</button>
      </div>
    </div>
  </div>
</div>
