<div class="uw-add-people-progress-overlay" style="display: none;">
  <div id="progressbar">
    <div class="progress-label"></div>
  </div>
</div>
<div class="uw-add-people-validation-result">
  {{#if no_logins}}
  No {{role}}s validated for {{section_name}}
  {{else}}
  Validated {{count}} {{#if exceptions}}of {{total}} {{role}}s{{else}}{{role}}{{count_plural}}{{/if}} for {{section_name}}
  {{/if}}
  <form style="display: none;">
    <input type="hidden" name="uw-add-people-role" value="{{role_name}}">
  </form>
</div>
<div class="uw-add-people-validation-scrolled">
  <table class="ic-Table ic-Table--condensed">
    <thead>
      <tr>
        <th>User</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
        {{#each users}}
        <tr>
          <td>{{this.login}}{{#if this.name}} ({{this.name}}){{/if}}</td>
          <td {{#if this.invalid}}style="color: red;"{{else}}{{#if this.add}}style="color: green;"{{/if}}{{/if}}>{{{this.comment}}}</td>
        </tr>
        {{/each}}
    </tbody>
  </table>
</div>
